@model CampusRoomViewModel
@{
    ViewData["Title"] = "Campus Overview";
    var RoomCount = 0;
}

<div class="text-center">
    <h1 class="display-4">Campus Management</h1>
</div>
<div class="row">
    @foreach (CampusModel campus in Model.Campuses)
    {
        <div class="col-md-6 campus-col">
            <img src="@campus.ImageURL" class="campus-image">
            <h1 class="campus-name">@campus.Name</h1>
            @foreach (RoomModel room in Model.Rooms)
            {
                if (room.Campus == campus.Name)
                {
                    RoomCount++;
                }
            }
            <h5 class="campus-rooms"><b>Room Count:</b> @RoomCount</h5>
            <div class="campus-button">
                <a asp-action="Details" asp-route-id="@campus.Id" class="btn btn-light">Details</a>
            </div>
        </div>
        { RoomCount = 0; }
    }
</div>