@model CampusRoomViewModel
@{
    ViewData["Title"] = "Campus Management";
}

<div class="text-center">
    <h1 class="display-4">Campuses Overview</h1>
</div>
<div class="row">
    @foreach (CampusModel campus in Model.Campuses)
    {
        <div class="col-md-5 campus-display">
            <h3 class="campus-text">@Html.DisplayFor(modelItem => campus.Name)</h3>
            <h6></h6>
        </div>
    }

    @foreach (RoomModel room in Model.Rooms)
    {
        <div class="col-md-5 campus-display">
            <h3 class="campus-text">@Html.DisplayFor(modelItem => room.Name)</h3>
            <h6></h6>
        </div>
    }
</div>