.campus-image {
    width: 450px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 0px #808080;
}

.campus-detail-image {
    width: 450px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 0px #808080;
}

.campus-col {
    margin-top: 7%;
    text-align: center;
}

.campus-name {
    color: white;
    position: absolute;
    bottom: 50%;
    left: 35%;
    text-shadow: 3px 3px black;
}

.campus-button {
    position: absolute;
    bottom: 10%;
    left: 33%;
}

.campus-rooms {
    color: white;
    position: absolute;
    bottom: 40%;
    left: 38%;
    text-shadow: 3px 3px black;
}

.room-display {
    margin: 2%;
    background-color: crimson;
    border: solid;
    border-color: black;
    border-width: thin;
    text-align: center;
    height: 130px;
    width: 300px;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 0px #808080;
}

.room-name {
    color: white;
    padding-top: 10px;
}

.room-assets {
    color: white;
}

.section-divide {
    width: 100%;
    border-color: #242424;
    height: 1px;
}

.asset-display-icon {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: solid;
    border-color: black;
    border-width: thin;
    margin-top: 5px;
    background-color: white !important;
}

.asset-display {
    margin: 1.5%;
    margin-top: 2%;
    background-color: palegoldenrod;
    border: solid;
    border-color: black;
    border-width: thin;
    text-align: center;
    height: 400px;
    width: 60px !important;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 0px #808080;
}

.asset-display-support {
    margin: 1.5%;
    margin-top: 2%;
    background-color: palegoldenrod;
    border: solid;
    border-color: black;
    border-width: thin;
    text-align: center;
    height: 300px;
    width: 60px !important;
    box-sizing: border-box;
    box-shadow: 2px 2px 5px 0px #808080;
}